body{
    text-align: center; 
    padding: 15%;
    background-color:lightslategray;

}

.formular{
    font-size: 125%;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    display: inline-block;
    text-align: left;    
    border: solid 3px;
    background-color: lightskyblue;
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;
}
h1{
    text-align: center; 

}
.login{
    text-align: center; 
}

